# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Exceptions
!skeleton/reference-Darwin-x86_64.o
!skeleton/reference-Linux-i686.o
!skeleton/reference-Linux-x86_64.o
!src/reference-Darwin-x86_64.o
!src/reference-Linux-i686.o
!src/reference-Linux-x86_64.o
